
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Yeseva+One&display=swap');


$color-main: #007bff;
$color-main-light: rgba($color-main, 0.7);

$color-secondary: #ff4500;
$color-secondary-light: rgba($color-secondary, 0.7);

$color-bg: #f5f5f5;

$color-text: #222;

$color-cta: #32cd32;

$color-highlight: #ffd700;

$ff-os: 'Open Sans', sans-serif;
$ff-yeseva: 'Yeseva One', cursive;
