
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Yeseva+One&display=swap');


$ff-os: 'Open Sans', sans-serif;
$ff-yeseva: 'Yeseva One', cursive;


$color-main: #007bff;

$color-secondary: #ff4500;
